.grid-dos-columnas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    align-items: center;
}

.caja-mapa {
    background-color: var(--color-gris);
    padding: 30px;
    border: 2px dashed var(--color-secundario);
    border-radius: 6px;
    text-align: center;
}